<app-temperature-gauge
  [maxTemp]="maxTemp"
  [minTemp]="minTemp"
  [currentTemp]="currentTemp"
></app-temperature-gauge>

<div class="ranges-container">
  <div>
    <input type="range" min="-20" max="40" [(ngModel)]="minTemp" />
    <p>Min {{minTemp}}°C</p>
  </div>
  <div>
    <input type="range" min="-30" max="250" [(ngModel)]="currentTemp" />
    <p>Current {{currentTemp}}°C</p>
  </div>
  <div>
    <input type="range" min="20" max="200" [(ngModel)]="maxTemp" />
    <p>Max {{maxTemp}}°C</p>
  </div>
</div>
